.app_header {
    padding: 20px 30px;
    border-bottom: 1.6px solid #1F1E3E;

    h3 {
        font-weight: 600;
    }

    .v-btn {
        height: 35px !important;
        img{
            border-radius: 50%;
            width:20px;
            margin-right: 10px;
        }
        span {
            font-size: 12px;
            font-weight: 600;
            text-transform: capitalize;
        }

    }
}