.private_layout {

    .page-container {
        position: relative;
        width: calc(100% - 280px);
        margin-left: auto;

        .inner-container{
            width: calc(100% - 350px);
        }
    }

}