.public-layout {
    position: relative;
    min-height: 100vh;

    .pattern {
        position: absolute;
        width: 100%;
        height: 90vh;
        top: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .public-container {
        padding: 0 80px;
    }

    .icon-pallet {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 20px;
        // height: 33px;

        img {
            width: 100%;

        }
    }

}